= simple_form_for(@lotacao) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :descricao, :label => "Descrição"
    
    = hidden_field :lotacao,:orgao_id, :value => @orgao_id
    
    = hidden_field :lotacao,:parent_id, :value => @parent_id

  .form-actions
    = f.button :submit, "Salvar", :class => "btn btn-success aguarde"
    = link_to 'Voltar', lotacoes_path, :class => "btn aguarde"
    = link_to 'Visualizar', @lotacao, :class => "btn btn-info aguarde" if @view_edit
