= simple_form_for(@lotacao) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :descricao, :label => "Descrição"
    
    - if !@id_orgao || !@parent_id
      / = f.label "Órgão"
      / = f.collection_select(:id_orgao, Orgao.order('nm_orgao'),:id, :nm_orgao, {:prompt => false})
      = hidden_field :lotacao,:id_orgao, :value => @id_orgao

    - else
      = hidden_field :lotacao,:id_orgao, :value => @id_orgao
    
    = hidden_field :lotacao,:parent_id, :value => @parent_id

  .actions
    = f.submit 'Salvar', :class => "btn btn-success"
