.page-header
  %h1 Detalhes do Órgão

%p#notice= notice

%p
  %b Descricao:
  = @lotacao.descricao
%p
  %b Id orgao:
  = @lotacao.orgao.nm_orgao
/ %p
/   %b Parent:
/   = @lotacao.parent_id


.form-actions
  = link_to 'Editar', edit_lotacao_path(@lotacao), :class => "btn btn-warning"
  = link_to 'Voltar', lotacoes_path, :class => "btn"