= form_for @partido, :remote => (params[:modal_ajax] ? true : false) do |f|
  -if @partido.errors.any?
    #error_explanation
      %h2= "Não foi possível salvar o partido devido a #{pluralize(@partido.errors.count, "erro")}:"
      %ul
        - @partido.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Sigla"
    = f.text_field :nm_partido
  .field
    = f.label "nome"
    = f.text_field :nm_completo
  .form-actions
    = f.submit 'Salvar', :class => "btn btn-success"
    = link_to 'Voltar', partidos_path, :class => "btn btn-info" unless params[:modal_ajax]
    = link_to 'Visualizar', @partido, :class => "btn btn-warning" if @view_edit
