.page-header
  %h1 Partidos

= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_partido_path, :class => "btn btn-success aguarde"

%br
%br

- if @partidos.present?
  %table{:class => "table table-striped"}
    %tr
      %th #
      %th Sigla
      %th Nome
      %th Ação

    - @partidos.each do |partido|
      %tr
        %td= partido.id
        %td= partido.nm_partido
        %td= partido.nm_completo
        %td
          = link_to raw("<i class='icon-zoom-in icon-white'></i>"), partido, :class => "btn btn-mini btn-info"
          = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_partido_path(partido), :class => "btn btn-mini btn-warning"
          = link_to raw("<i class='icon-trash icon-white'></i>"), partido, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"

  .pagination
    %ul
      %li{:class => "disabled"}
        %a= "Anterior"
      %li{:class => "active"}
        %a= "1"
      %li
        %a= "2"
      %li
        %a= "3"
      %li
        %a= "Posterior"
