.page-header
  %h1 Detalhes do Partido

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice

%p
  %b Sigla:
  = @partido.nm_partido
%p
  %b Nome:
  = @partido.nm_completo
  
.form-actions
  = link_to 'Editar', edit_partido_path(@partido), :class => "btn btn-warning"
  = link_to 'Voltar', partidos_path, :class => "btn"
