.page-header
  %h1 Cargos

= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_cargo_path, :class => "btn btn-success"

%br
%br

%table{:class => "table table-striped"}
  %tr
    %th #
    %th Cargo
    %th Ação

  - @cargos.each do |cargo|
    %tr
      %td= cargo.id
      %td= cargo.nm_cargo
      %td
        = link_to raw("<i class='icon-zoom-in icon-white'></i>"), cargo, :class => "btn btn-mini btn-info"
        = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_cargo_path(cargo), :class => "btn btn-mini btn-warning"
        = link_to raw("<i class='icon-trash icon-white'></i>"), cargo, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"
        

