%p#notice= notice

%p
  %b Nm categoria:
  = @categorium.nm_categoria
%p
  %b Descricao:
  = @categorium.descricao

= link_to 'Edit', edit_categorium_path(@categorium)
\|
= link_to 'Back', categoria_path
