%div.hero-unit
  %h1 Bem vindo #{current_usuario.nome}

%div.dash-board-home
  %div.span6
    = render 'widget-contratacoes'
    = render 'widget-vagas'

  %div.span6
    = render 'widget-search'
    = render 'widget-pessoas'
