= simple_form_for(@pessoa, :remote => true) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :nm_pessoa, label: "Nome:"
    = f.label "Indicação:"
    = f.collection_select(:indicador_id, Indicador.order('nm_indicador'),:id, :nmindicador, {:prompt => "Selecione um valor"}) 
    = f.input :obs, label: "Observação:", :input_html => { :rows => 4,  :style => 'width: 460px' }
    %input{:type => 'hidden', :name => 'ajax_request', :value => "true"}

  .form-actions
    = f.button :submit, "Salvar", :class => "btn btn-success"
