.page-header
  %h1 Pessoas

= link_to raw("<i class='icon-home icon-white'></i>"), pessoas_path, :class => "btn btn-primary aguarde" 
= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_pessoa_path, :class => "btn btn-success aguarde"

- if @pessoas.present?
  %div.pull-right
    = simple_form_for :search, :url => {:controller => 'pessoas', :action => 'search' }, :html => { :class => 'form-search' } do |f|
      = f.input_field :nome, :placeholder => "Digite um Nome", :class => "input-medium search-query",:value => @search
      = f.submit "Buscar", :class => "btn aguarde"

%br
%br

- if @pessoas.present?
  %table{:class => "table table-striped"}
    %tr
      %th
        = link_to_pagination_order("#", "/pessoas", "id", @order)
      %th
        = link_to_pagination_order("Nome", "/pessoas", "nm_pessoa", @order)
      %th
        = link_to_pagination_order("CPF", "/pessoas", "cpf", @order)
      %th
        = link_to_pagination_order("Telefone", "/pessoas", "telefone", @order)
      %th Indicação
      %th Ação

    - @pessoas.each do |pessoa|
      %tr
        %td= pessoa.id
        %td= pessoa.nm_pessoa
        %td= pessoa.cpf
        %td= pessoa.telefone
        %td= pessoa.indicador ? pessoa.indicador.nm_indicador : " - "
        %td
          = link_to raw("<i class='icon-zoom-in icon-white'></i>"), pessoa, :class => "btn btn-mini btn-info aguarde"
          = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_pessoa_path(pessoa), :class => "btn btn-mini btn-warning aguarde"
          = link_to raw("<i class='icon-trash icon-white'></i>"), pessoa, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger aguarde"

  = will_paginate @pessoas