.page-header
  %h1 Detalhes da Pessoa

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice

%p
  %b Nome da Pessoa:
  = @pessoa.nmpessoa
%p
  %b Cpf:
  = @pessoa.cpf
%p
  %b Telefone:
  = @pessoa.telefone
%p
  %b Endereco:
  = @pessoa.endereco
%p
  %b Cep:
  = @pessoa.cep
%p
  %b Bairro:
  = @pessoa.bairro
%p
  %b Naturalidade:
  = @pessoa.naturalidade
%p
  %b Nacionalidade:
  = @pessoa.nacionalidade
%p
  %b Nome Pai:
  = @pessoa.nmpai
%p
  %b Nome Mãe:
  = @pessoa.nmmae
%p
  %b Data Nascimento:
  = @pessoa.dtnasc
%p
  %b Sexo:
  = @pessoa.sexo
%p
  %b Indicação Política:
  = @pessoa.indicador.nmindicador
%p
  %b Observação:
  = @pessoa.obs

.form-actions
  = link_to 'Editar', edit_pessoa_path(@pessoa), :class => "btn btn-warning"
  = link_to 'Voltar', pessoas_path, :class => "btn"
