.page-header
  %h1 Detalhes da Pessoa

%p
  %b Nome da Pessoa:
  = @pessoa.nmpessoa
%p
  %b Cpf:
  = @pessoa.cpf
%p
  %b Telefone:
  = @pessoa.telefone
%p
  %b Endereco:
  = @pessoa.endereco
%p
  %b Cep:
  = @pessoa.cep
%p
  %b Bairro:
  = @pessoa.bairro
%p
  %b Naturalidade:
  = @pessoa.naturalidade
%p
  %b Nacionalidade:
  = @pessoa.nacionalidade
%p
  %b Nome Pai:
  = @pessoa.nmpai
%p
  %b Nome Mãe:
  = @pessoa.nmmae
%p
  %b Data Nascimento:
  = @pessoa.dtnasc.strftime "%d/%m/%Y"
%p
  %b Sexo:
  = @pessoa.sexo
%p
  %b Indicado por:
  = @pessoa.indicador.nmindicador if @pessoa.indicador
%p
  %b Observação:
  = @pessoa.obs

.form-actions
  = link_to 'Editar', edit_pessoa_path(@pessoa), :class => "btn btn-warning aguarde"
  = link_to 'Voltar', pessoas_path, :class => "btn aguarde"
