= simple_form_for(@indicador) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nmindicador, label: 'Nome do Indicador'
    = f.input :idpartido, label: 'Partido', collection: [], input_html: { url_ac: '/partidos.json', label_ac: 'nmcompleto', val_ac: 'id', class: "autocomplete"}
    = f.input :cpf, label: 'CPF'
    = f.input :telefone, label: 'Telefone'


    = f.submit 'Salvar', class: "btn btn-success"