%h1 Listing indicadores

%table
  %tr
    %th nmindicador
    %th Idpartido
    %th Cpf
    %th Telefone
    %th
    %th
    %th

  - @indicadores.each do |indicador|
    %tr
      %td= indicador.nmindicador
      %td= indicador.partido.nmpartido
      %td= indicador.cpf
      %td= indicador.telefone
      %td= link_to 'Show', indicador
      %td= link_to 'Edit', edit_indicador_path(indicador)
      %td= link_to 'Destroy', indicador, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Indicador', new_indicador_path
