%p#notice= notice

%p
  %b nmindicador:
  = @indicador.nmindicador
%p
  %b Idpartido:
  = @indicador.partido.nmpartido
%p
  %b Cpf:
  = @indicador.cpf
%p
  %b Telefone:
  = @indicador.telefone

= link_to 'Edit', edit_indicador_path(@indicador)
\|
= link_to 'Back', indicadores_path
