.page-header
  %h1 Detalhes do Indicador

  

%p
  %b Indicador:
  = @indicador.nm_indicador
%p
  %b Partido:
  = @indicador.partido.nm_partido if @indicador.partido
%p
  %b CPF:
  = @indicador.cpf
%p
  %b Telefone:
  = @indicador.telefone
  
.form-actions
  = link_to 'Editar', edit_indicador_path(@indicador), :class => "btn btn-warning"
  = link_to 'Voltar', indicadores_path, :class => "btn"
