.page-header
  %h1 Detalhes do Indicador

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice
  

%p
  %b Indicador:
  = @indicador.nmindicador
%p
  %b Partido:
  = @indicador.partido.nmpartido if @indicador.partido
%p
  %b CPF:
  = @indicador.cpf
%p
  %b Telefone:
  = @indicador.telefone
  
.form-actions
  = link_to 'Editar', edit_indicador_path(@indicador), :class => "btn btn-warning"
  = link_to 'Voltar', indicadores_path, :class => "btn"
