= simple_form_for(@contratacao) do |f|
  = f.error_notification

  .form-inputs
    .well
      = f.input :vaga_id, label: 'Vaga', collection: @vagas.collect {|x| ["#{x.lotacao.breadcrumb} - #{x.cargo_categoria.cargo.nm_cargo} - #{x.cargo_categoria.categoria.nm_categoria}", x.id]}, input_html: { class: 'default_chosen span5' }
      = f.input :pessoa_id, label: 'Pessoa', collection: [], input_html: { url_ac: '/pessoas.json', label_ac: 'nm_pessoa', val_ac: 'id', class: "autocomplete"}
      %button{:class => "btn btn-mini btn-success", :id => "pessoa_ajax", :style => "width:21em"}
        %i{:class => "icon-plus-sign icon-white"}
        Criar Pessoa

      = f.input :cargo_categoria_id, label: 'Cargo Categoria', collection: CargoCategoria.select("cargo_categorias.id, cargos.nm_cargo, categorias.nm_categoria").joins([:cargo, :categoria]).where(:contrato_id => params[:contrato_id]).all.collect {|x| ["#{x.nm_cargo} - #{x.nm_categoria}", x.id]}, input_html: { class: 'default_chosen' }

      = f.input :valor


  .form-actions
    = f.button :submit, "Salvar", :class => "btn btn-success agaurde"
    = link_to 'Voltar', contratacoes_path, :class => "btn aguarde"
    = link_to 'Visualizar', @contratacao, :class => "btn btn-warning aguarde" if @view_edit
