= simple_form_for(@contratacao) do |f|
  = f.error_notification

  .form-inputs
    .field
      = f.label "Partido"
      = f.text_field :id_vaga
      %button{:class => "btn btn-success", :style => "margin-top:-10px"}
        %i{:class => "icon-plus-sign icon-white"}
    .field
      = f.label "Pessoa"
      = f.collection_select(:id_pessoa, Pessoa.order('nmpessoa'),:id, :nmpessoa, {:prompt => true})
    .field
      = f.label "Valor"  
      = f.text_field  :valor
      
    = f.input :id_cargocategoria

  .actions
    = f.button :submit, "Salvar", :class => "btn btn-success"
