.page-header
  %h1 Contratações

= link_to raw("<i class='icon-plus icon-white'></i> Nova Contratação"), new_contratacao_path, :class => "btn btn-success"

%br
%br

%table{:class => "table table-striped"}
  %tr
    %th #
    %th Nome
    %th Cargo
    %th Valor
    %th Telefone
    %th Lotação
    %th Ação

  - (1..10).each do |i|
    %tr
      %td= i
      %td= "Nome Completo Pessoa"
      %td= "Nome do Cargo"
      %td= "Valor Pago"
      %td= "Telefone Pessoa"
      %td= "Local Trabalho"
      %td
        = link_to raw("<i class='icon-zoom-in icon-white'></i>"), new_contratacao_path, :class => "btn btn-mini btn-info"
        = link_to raw("<i class='icon-pencil icon-white'></i>"), "#", :class => "btn btn-mini btn-warning"
        = link_to raw("<i class='icon-trash icon-white'></i>"), "#", :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"

.pagination
  %ul
    %li{:class => "disabled"}
      %a= "Anterior"       
    %li{:class => "active"}
      %a= "1" 
    %li
      %a= "2"
    %li
      %a= "3"
    %li
      %a= "Posterior"
