%p#notice= notice

%p
  %b Vaga
  = "#{@contratacao.vaga.lotacao.breadcrumb} - #{@contratacao.vaga.cargo_categoria.cargo.nm_cargo}"
%p
  %b Pessoa
  = @contratacao.pessoa.nm_pessoa
%p
  %b Valor:
  = @contratacao.valor

%p
  %b Cargo/Categoria no contrato
  = "#{@contratacao.cargo_categoria.cargo.nm_cargo} - #{@contratacao.cargo_categoria.categoria.nm_categoria}"

= link_to 'Edit', edit_contratacao_path(@contratacao)
\|
= link_to 'Back', contratacoes_path
