= simple_form_for(@categoria) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nm_categoria, label: 'Nome da Categoria'
    = f.input :descricao, label: 'Descrição'
    = f.input :valor, label: 'Valor'
    
    = f.submit 'Salvar', class: "btn btn-success"
