= simple_form_for(@categoria) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nm_categoria, label: 'Nome da Simbologias'
    = f.input :descricao, label: 'Descrição'
    = f.input :valor, label: 'Valor'
    
  .form-actions
    = f.submit 'Salvar', :class => "btn btn-success aguarde"
    = link_to 'Voltar', categorias_path, :class => "btn btn-info aguarde" 
    = link_to 'Visualizar', @categoria, :class => "btn btn-warning aguarde" if @view_edit
