%h1 Listing categorias

%table
  %tr
    %th Nm categoria
    %th Descricao
    %th
    %th
    %th

  - @categorias.each do |categoria|
    %tr
      %td= categoria.nm_categoria
      %td= categoria.descricao
      %td= link_to 'Show', categoria
      %td= link_to 'Edit', edit_categoria_path(categoria)
      %td= link_to 'Destroy', categoria, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Categoria', new_categoria_path
