.page-header
  %h1 Detalhes da Categoria

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice
  

%p
  %b Categoria:
  = @categoria.nm_categoria
%p
  %b Descrição:
  = @categoria.descricao
%p
  %b Valor:
  = @categoria.valor

  
.form-actions
  = link_to 'Editar', edit_categoria_path(@categoria), :class => "btn btn-warning"
  = link_to 'Voltar', categorias_path, :class => "btn"
