= simple_form_for(@cargo_categoria) do |f|
  = f.error_notification
  - @cargo_categoria.errors.full_messages.each do |error_message|
    %li{:class => "alert alert-error"}
      = error_message

  .form-inputs
    = f.input :contrato_id, label: 'Contrato', collection: Contrato.all.collect {|x| [x.descricao, x.id]}, selected: @default_tipo_contrato_id, input_html: { class: 'default_chosen' }
    = f.input :cargo_id, collection: Cargo.order(:nm_cargo).all.collect {|x| [x.nm_cargo, x.id]}, input_html: { class: 'default_chosen' }
    = f.input :categoria_id, collection: Categoria.order(:nm_categoria).all.collect {|x| [x.nm_categoria, x.id]}, input_html: { class: 'mapa_categoria_chosen' }
    = label :cargo_categoria, :valor
    = text_field :cargo_categoria, :valor_f, :class => "valor"

  .form-actions
    = f.button :submit
