.page-header
  %h1 Mapa de Cargos e Categorias
  
= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_cargo_categoria_path, :class => "btn btn-success"

%br
%br

- if @cargo_categorias.present?
  %table{:class => "table table-striped"}

    %tr
      %th Contrato
      %th Cargo
      %th Categoria
      %th Valor
      %th Ação

    - @cargo_categorias.each do |cargo_categoria|
      %tr
        %td= cargo_categoria.contrato.descricao
        %td= cargo_categoria.cargo.nm_cargo
        %td= cargo_categoria.categoria.nm_categoria
        %td= cargo_categoria.valor
        %td
          = link_to raw("<i class='icon-zoom-in icon-white'></i>"), cargo_categoria, :class => "btn btn-mini btn-info"
          = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_cargo_categoria_path(cargo_categoria), :class => "btn btn-mini btn-warning"
          = link_to raw("<i class='icon-trash icon-white'></i>"), cargo_categoria, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"

