= simple_form_for(@orgao) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nm_orgao
    = f.input :dt_inicio ,:order => [:day,:month,:year]
    = f.input :dt_fim, :order => [:day,:month,:year]
    = f.input :id_lei

  .form-actions
    = f.button :submit
