= simple_form_for(@orgao, :html => {:class => "form-inline"}) do |f|
  = f.error_notification
  
  .form-inputs
    = f.input :nm_orgao, label: 'Órgão'
    = f.input :id_lei, label: 'Lei', collection: [], input_html: { url_ac: '/leis.json', label_ac: 'descricao', val_ac: 'id', class: "autocomplete"}


  .actions
    = f.submit 'Salvar', :class => "btn btn-success"
