= simple_form_for(@orgao) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nm_orgao, label: 'Órgão'
    = f.input :lei_id, label: 'Lei', collection: [], input_html: { class: 'chozen_leis' }

  .form-actions
    = f.button :submit


