.page-header
  %h1 Detalhes do Órgão

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice
  

%p
  %b Órgão:
  = @orgao.nm_orgao
%p
  %b Lei:
  = @orgao.lei.descricao if @orgao.lei
  
.form-actions
  = link_to 'Editar', edit_orgao_path(@orgao), :class => "btn btn-warning"
  = link_to 'Voltar', orgaos_path, :class => "btn"
