= simple_form_for(@vaga) do |f|
  = f.error_notification

  .form-inputs
    = f.input :lotacao_id, collection: Lotacao.ltree.collect {|x| [x[:path], x[:id]]}, input_html: { class: 'default_chosen span5' }
    = f.input :cargo_categoria_id, label: 'Cargo Categoria', collection: @cargo_categorias.collect {|x| ["#{x.nm_cargo} - #{x.nm_categoria}", x.id]}, input_html: { class: 'default_chosen' }
    = f.input :qt_vagas
    = f.input :lei_id, collection: Lei.all.collect {|x| [x.descricao, x.id]}, input_html: { class: 'default_chosen span5' }

  .form-actions
    = f.button :submit
