%h1 Listing vagas

%table
  %tr
    %th Lotação
    %th Cargo / Categori
    %th Qt vagas
    %th Id lei
    %th
    %th
    %th

  - @vagas.each do |vaga|
    %tr
      %td= vaga.lotacao.descricao
      %td= vaga.cargo_categoria.cargo.nm_cargo
      %td= vaga.qt_vagas
      %td= vaga.lei.descricao if vaga.lei
      %td= link_to 'Show', vaga
      %td= link_to 'Edit', edit_vaga_path(vaga)
      %td= link_to 'Destroy', vaga, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Vaga', new_vaga_path
