.page-header
  %h1 Vagas
  
= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_vaga_path, :class => "btn btn-success aguarde"

%br
%br

- if @vagas.present?
  %table{:class => "table table-striped"}
    %tr
      %th #
      %th Lotação
      %th Cargo / Categoria
      %th Vagas Abertas/Total
      %th Lei
      %th Ação
  
    - @vagas.each do |vaga|
      %tr
        %td= vaga.id
        %td= vaga.lotacao.breadcrumb
        %td= "#{vaga.cargo_categoria.cargo.nm_cargo} - #{vaga.cargo_categoria.categoria.nm_categoria}"
        %td= "#{vaga.vagas_faltantes}/#{vaga.qt_vagas}"
        %td= vaga.lei.descricao if vaga.lei
        %td
          = link_to raw("<i class='icon-zoom-in icon-white'></i>"), vaga, :class => "btn btn-mini btn-info"
          = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_vaga_path(vaga), :class => "btn btn-mini btn-warning"
          = link_to raw("<i class='icon-trash icon-white'></i>"), vaga, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"

