%p#notice= notice

%p
  %b Lotação
  = @vaga.lotacao.descricao
%p
  %b Cargo/Categoria
  = @vaga.cargo_categoria.cargo.nm_cargo
%p
  %b Qt vagas:
  = @vaga.qt_vagas
%p
  %b Lei
  = @vaga.lei.descricao if @vaga.lei

= link_to 'Edit', edit_vaga_path(@vaga)
\|
= link_to 'Back', vagas_path
