= simple_form_for(@usuario, :html => {:class => "form-inline"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, label: 'Nome'
    = f.input :username, label: 'Login'
    = f.input :email, label: 'E-mail'
    = f.input :password, label: 'Senha'
    = f.input :password_confirmation, label: 'Confirmação da senha'
    
  .actions
    = f.submit 'Salvar', :class => "btn btn-success"
