= simple_form_for(@usuario, :html => {:class => "form-inline"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, label: 'Nome'
    = f.input :username, label: 'Login'
    = f.input :email, label: 'E-mail'
    = f.input :password, label: 'Senha', input_html: { autocomplete: "off" }
    = f.input :password_confirmation, label: 'Confirmação da senha'
    
  .form-actions
    = f.button :submit, "Salvar", :class => "btn btn-success aguarde"
    = link_to 'Voltar', usuarios_path, :class => "btn aguarde"
    = link_to 'Visualizar', @usuario, :class => "btn btn-info aguarde" if @view_edit
