.page-header
  %h1 Lista de Usuários

= link_to raw("<i class='icon-home icon-white'></i>"), usuarios_path, :class => "btn btn-primary aguarde" 
= link_to raw("<i class='icon-plus icon-white'></i> Novo"), new_usuario_path, :class => "btn btn-success aguarde"

%div.pull-right
  = simple_form_for :search, :url => {:controller => 'usuarios', :action => 'search' }, :html => { :class => 'form-search' } do |f|
    = f.input_field :nome, :placeholder => "Digite um Nome", :class => "input-medium search-query",:value => @search
    = f.submit "Buscar", :class => "btn aguarde"

%br
%br

%table{:class => "table table-striped"}
  %tr
    %th
      = link_to_pagination_order("#", "/usuarios", "id", @order)
    %th
      = link_to_pagination_order("Nome", "/usuarios", "nome", @order)
    %th
      = link_to_pagination_order("Login", "/usuarios", "username", @order)
    %th
      = link_to_pagination_order("Email", "/usuarios", "email", @order)
    %th Ação

  - @usuarios.each do |usuario|
    %tr
      %td= usuario.id
      %td= usuario.nome
      %td= usuario.username
      %td= usuario.email
      %td
        = link_to raw("<i class='icon-zoom-in icon-white'></i>"), usuario, :class => "btn btn-mini btn-info aguarde"
        = link_to raw("<i class='icon-pencil icon-white'></i>"), edit_usuario_path(usuario), :class => "btn btn-mini btn-warning aguarde"
        = link_to raw("<i class='icon-trash icon-white'></i>"), usuario, :confirm => 'Realmente deseja fazer essa operação?', :method => :delete, :class => "btn btn-mini btn-danger"


= will_paginate @usuarios