%h1 Lista de Usuários

%table
  %tr
    %th nome
    %th login
    %th e-mail
    %th
    %th
    %th

  - @usuarios.each do |usuario|
    %tr
      %td= usuario.nome
      %td= usuario.username
      %td= usuario.email
      %td= link_to 'Show', usuario
      %td= link_to 'Edit', edit_usuario_path(usuario)
      %td= link_to 'Destroy', usuario, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Novo Usuário', new_usuario_path
