%p#notice= notice

%p
  %b Nm cargo:
  = @cargo.nm_cargo
%p
  %b Simbolo:
  = @cargo.simbolo
%p
  %b Dt inicio:
  = @cargo.dt_inicio
%p
  %b Dt fim:
  = @cargo.dt_fim

= link_to 'Edit', edit_cargo_path(@cargo)
\|
= link_to 'Back', cargos_path
