= simple_form_for(@contrato) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tipo_contrato_id, label: 'Tipo do Contrato', collection: TipoContrato.all.collect {|x| [x.tipo, x.id]}, selected: @default_tipo_contrato_id
    = f.input :descricao
    = f.input :dt_inicio

  .form-actions
    = f.button :submit
