%p#notice= notice

%p
  %b Id:
  = @contrato.id
%p
  %b Desccontrato:
  = @contrato.descricao
%p
  %b Tipo:
  = @contrato.tipo_contrato.tipo
%p
  %b Dt inicio:
  = @contrato.dt_inicio
%p
  %b Dt fim:
  = @contrato.dt_fim

= link_to 'Edit', edit_contrato_path(@contrato)
\|
= link_to 'Back', contratos_path
