.page-header
  %h1 Detalhes do Contrato


%p
  %b Id:
  = @contrato.id
%p
  %b Descrição do Contrato:
  = @contrato.descricao
%p
  %b Tipo:
  = @contrato.tipo_contrato.tipo
%p
  %b Dt inicio:
  = @contrato.dt_inicio

.form-actions
  = link_to 'Editar', edit_contrato_path(@contrato), :class => "btn btn-warning"
  = link_to 'Voltar', contratos_path, :class => "btn"
