= simple_form_for(@lei, :html => {:class => "form-inline"}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :numero
    = f.input :descricao
    = f.input :dt_lei, :order => [:day,:month,:year]

  .actions
    = f.submit "Salvar", :class => "btn btn-success"
