.page-header
  %h1 Detalhes da Lei

- if notice
  .alert
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    %strong= notice

%p
  %b Numero:
  = @lei.numero
%p
  %b Descricao:
  = @lei.descricao
%p
  %b Data lei:
  = @lei.dt_lei

.form-actions
  = link_to 'Editar', edit_lei_path(@lei), :class => "btn btn-warning"
  = link_to 'Voltar', leis_path, :class => "btn btn-info"