.page-header
  %h1 Detalhes da Lei

%p
  %b Numero:
  = @lei.numero
%p
  %b Descricao:
  = @lei.descricao
%p
  %b Data lei:
  = @lei.dt_lei.strftime "%d/%m/%Y"

.form-actions
  = link_to 'Editar', edit_lei_path(@lei), :class => "btn btn-warning aguarde"
  = link_to 'Voltar', leis_path, :class => "btn btn-info aguarde"