%h1 Lista de Perfis

%table
  %tr
    %th Nome
    %th Descrição
    %th
    %th
    %th

  - @perfis.each do |perfil|
    %tr
      %td= perfil.nm_perfil
      %td= perfil.descricao
      %td= link_to 'Ver', perfil
      %td= link_to 'Editar', edit_perfil_path(perfil)
      %td= link_to 'Apagar', perfil, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Novo Perfil', new_perfil_path
