<div class="span3">
  <div class="well sidebar-nav" id="menu-lateral">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">
        Menu Principal
      </li>

      <%= nav_link('Página Inicial', root_path, 'icon-home') %>
      
      <hr />

      <%= nav_link('Mapa de Cargos e Categorias', cargo_categorias_path, 'icon-tags') %>

      <%= nav_link('Cargos', cargos_path, 'icon-briefcase') %>

      <%= nav_link('Categorias', categorias_path, 'icon-tags') %>

      <hr />
      <%= nav_link('Órgãos', orgaos_path, 'icon-map-marker') %>
      <%= nav_link('Lotações', lotacoes_path, 'icon-flag') %>
     
      
      <hr />

      <li class="nav-header">
        Contratos
      </li>

      <li>
        <%= link_to(raw("<i class='icon-edit'></i> Contratos"), contratos_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-edit'></i> Tipos de Contratos"), tipo_contratos_path ) %>
      </li>

      <hr />
      
      <li>
        <%= link_to(raw("<i class='icon-edit'></i> Contratações"), contratacoes_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-book'></i> Leis"), leis_path) %>
      </li>
      
      <li>
        <%= link_to(raw("<i class='icon-fire'></i> Partidos"), partidos_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-bullhorn'></i> Indicadores"), indicadores_path) %>
      </li>
      
      <li>
        <%= link_to(raw("<i class='icon-user'></i> Pessoas"), pessoas_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-inbox'></i> Vagas"), vagas_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-eye-open'></i> Admin"), usuarios_path) %>
      </li>
    </ul>

  </div><!--/.well -->
</div><!--/span-->
