<div class="span3">
  <div class="well sidebar-nav" id="menu-lateral">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">
        Menu Principal
      </li>

      <%= nav_link('Página Inicial', root_path, 'icon-home') %>
      
      <hr />

      <%= nav_link('Mapa de Cargos e Categorias', cargo_categorias_path, 'icon-tags') %>

      <%= nav_link('Cargos', cargos_path, 'icon-briefcase') %>

      <%= nav_link('Categorias', categorias_path, 'icon-tags') %>

      <hr />
      <li class="nav-header">
        Organização Administrativa
      </li>
      <%= nav_link('Órgãos', orgaos_path, 'icon-map-marker') %>
      <%= nav_link('Lotações', lotacoes_path, 'icon-flag') %>
     
      
      <hr />

      <li class="nav-header">
        Contratos
      </li>

      <%= nav_link('Tipos de contratos', tipo_contratos_path, 'icon-edit') %>
      <%= nav_link('Contratos', contratos_path, 'icon-edit') %>

      <hr />
      
      <li>
        <%= link_to(raw("<i class='icon-edit'></i> Contratações"), contratacoes_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-book'></i> Leis"), leis_path) %>
      </li>
      
      <li>
        <%= link_to(raw("<i class='icon-fire'></i> Partidos"), partidos_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-bullhorn'></i> Indicadores"), indicadores_path) %>
      </li>
      
      <%= nav_link('Pessoas', pessoas_path, 'icon-user') %>
      <%= nav_link('Vagas', vagas_path, 'icon-inbox') %>
      <%= nav_link('Admin', usuarios_path, 'icon-eye-open') %>
    </ul>

  </div><!--/.well -->
</div><!--/span-->
