<div class="span3">
  <div class="well sidebar-nav" id="menu-lateral">
    <ul class="nav nav-pills nav-stacked">
      <li class="nav-header">
        Menu Principal
      </li>
      <li class="active">
        <%= link_to(raw("<i class='icon-home'></i> Página Inicial"), root_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-briefcase'></i> Cargos"), cargos_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-tags'></i> Categorias"), categorias_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-edit'></i> Contratações"), contratacoes_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-book'></i> Leis"), leis_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-flag'></i> Lotações"), lotacoes_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-fire'></i> Partidos"), partidos_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-bullhorn'></i> Indicadores"), indicadores_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-user'></i> Pessoas"), pessoas_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-inbox'></i> Vagas"), vagas_path) %>
      </li>
      <li>
        <%= link_to(raw("<i class='icon-eye-open'></i> Admin"), usuarios_path) %>
      </li>
    </ul>

  </div><!--/.well -->
</div><!--/span-->
